In [1]:
from datetime import datetime
import pandas as pd
import random
import string
import os

In [2]:
data_path = 'data'
df = pd.read_csv(os.path.join(data_path, 'fhir-chunk-1.csv'), names=['FHIR'])
df.head()

                                                FHIR
0  [resourceType] CarePlan [id] 76d3b4b2-398f-437...
1  [resourceType] CarePlan [id] 438f38cf-970c-ac8...
2  [resourceType] CarePlan [id] e640ce64-377a-534...
3  [resourceType] CarePlan [id] d462da87-eb7c-a91...
4  [resourceType] CarePlan [id] 8f201be8-c19f-0a9...

In [14]:
dct = pd.DataFrame({'data':[len(x) for x in df['FHIR']]})['data'].value_counts().to_dict()
dct = pd.DataFrame({'data':dct.keys(), 'count':dct.values()})

In [29]:
sum(dct.query('data < 4096')['count'])

21597

In [30]:
sum(dct.query('data > 4096')['count'])

4

In [72]:
seeds = []
for x in df['FHIR']:
    seeds.append(datetime.now().strftime("%Y:%m:%d %H:%M:%S:%f") + " " + str(random.randint(0, 100_000_000_000_00)))
df["seed"] = seeds
df.head()

,FHIR,seed
0,[resourceType] CarePlan [id] 76d3b4b2-398f-437...,2023:08:07 17:04:01:564630 7811993317813
1,[resourceType] CarePlan [id] 438f38cf-970c-ac8...,2023:08:07 17:04:01:564630 8080884756854
2,[resourceType] CarePlan [id] e640ce64-377a-534...,2023:08:07 17:04:01:564630 5310056792143
3,[resourceType] CarePlan [id] d462da87-eb7c-a91...,2023:08:07 17:04:01:564630 7112294127215
4,[resourceType] CarePlan [id] 8f201be8-c19f-0a9...,2023:08:07 17:04:01:564630 6869493394686

In [73]:
df.to_csv(os.path.join(data_path, 'time_seed_fhir.csv'), index=False)

In [68]:
df['seed'] = df['seed'].apply(lambda x: ''.join(random.SystemRandom().choice(string.ascii_uppercase + string.digits) for _ in range(128)))
df.head()

,FHIR,seed
0,[resourceType] CarePlan [id] 76d3b4b2-398f-437...,QAD78A6DV1S96ZZMFXZFR67OGPZP46BP05JBER376TC9L7...
1,[resourceType] CarePlan [id] 438f38cf-970c-ac8...,SA9CR5UF5858TMNQ88BGJOLOYD2P278NHM4WXSRTLO3BTR...
2,[resourceType] CarePlan [id] e640ce64-377a-534...,33IF638VA5NF6CSSNSBANTQPMLXO1ITRNVW1DGKS8YYQO7...
3,[resourceType] CarePlan [id] d462da87-eb7c-a91...,FTF5EJIWUXCI9VBKEDD6NAZXSP4RWNRKZH26W0GZ30HXTC...
4,[resourceType] CarePlan [id] 8f201be8-c19f-0a9...,2XZXTAGU06CCIICU4GZ6T523S43XS1A3HMNFC6UFNLGIGU...

In [69]:
df.to_csv(os.path.join(data_path, 'randstr_seed_fhir.csv'), index=False)

## Split

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('data/time_seed_fhir.csv').sample(frac=1).reset_index(drop=True)

In [9]:
test_size = 0.1

df[:int(len(df)*test_size)].to_csv('time_seed_fhir_test.csv', index=False)
df[int(len(df)*test_size):].to_csv('time_seed_fhir_train.csv', index=False)

## eh

In [ ]:
!gdown "185fofd2MIJSyE-LzHcIX1eSlwQXm43qt"

In [1]:
import pandas as pd

In [ ]:
df = pd.read_json('Procedure.ndjson', lines=True)